
﻿@{
    ViewBag.Title = "About";
}
<h2>About.</h2>
<p>
    This website was created to bridge the gap between Doctors and Patients. We had the idea in mind to make it a easy to use application for patients that no matter what walk of life you may be in this website is easily accessible and not overwhelming.
    <br />
    As a Patient you will be able to schedule appointments via open time slots, chat with you doctor about concerns you may have, see current medications you may be taking and be reminded on when you should be taking your medications via your doctors instructions.
    <br />
    Doctors are able to chat with patients, view the upcoming appointment for the day as well as later in the week, add new medications, prescribe medications and add them to the patients chart.
    <br />
    This site should be easy to use for both patient and doctor.
</p>
<div>
<ul>
    <li>@Html.ActionLink("Login","Login","Account") </li>
</ul>
    
</div>
