@model IEnumerable<PrescriptionCapstone.Models.Log>
@{
    ViewBag.Title = "PatientsLog";
}

<h2>PatientsLog</h2>

<table class="table">
<<<<<<< HEAD
  
=======

>>>>>>> e8bdb62fbbee43a4f1f7f1809dfa0a4b868ea574
    @foreach (var item in Model)
{
<tr>
    <td>
        @item.Time
    </td>
    <td>
        @item.Text
    </td>  
</tr>
}
</table>
